{% extends 'twitter/common.html' %}
{% load static %}
    {% block title %}首页{% endblock %}
    {% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'twitter/index.css' %}">
    {% endblock %}
    {% block body %}
{#        <div id="Layer1" style="position:absolute; left:0; top:0; width:100%; height:100%;z-index: -1">#}
{#        <img src="/static/total_index/background.jpg" width="100%" height="100%"/>#}
{#        </div>#}
    <div id="wrapper">
        <div class="title">
            <h1 class="title chara">社交网络数据采集检索系统</h1>
        </div>
        <div class="infoCapture">
            <a href="/twitter/infoCapture"><h2 class="aaa">采集功能</h2></a>
        </div>
{#        <div class="userInfo">#}
{#            <a href="/twitter/userInfo"><h2 class="aaa">用户信息采集</h2></a>#}
{#        </div>#}
{#        <div class="userTweet">#}
{#            <a href="/twitter/userTweet"><h2 class="aaa">用户推文采集</h2></a>#}
{#        </div>#}
{#        <div class="keywordsTweet">#}
{#            <a href="/twitter/keywordsTweet"><h2 class="aaa">关键词推文采集</h2></a>#}
{#        </div>#}
        <div class="monitor">
            <a href="/twitter/monitor"><h2 class="aaa">状态监控</h2></a>
        </div>
        <div class="search">
            <a href="/twitter/search"><h2 class="aaa">检索查询</h2></a>
        </div>
        <div class="search">
            <a href="/twitter/createColHtml"><h2 class="aaa">创建集合</h2></a>
        </div>
        </div>
    {% endblock %}
