{% extends 'total_index/common.html' %}
{% load static %}
    {% block title %}Twitter用户详细信息采集{% endblock %}
    {% block link %}
    {% endblock %}

    {% block body %}

{#        <div id="Layer1" style="position:absolute; left:0; top:0; width:100%; height:100%">#}
{#        <img src="/static/twitter/twitter_background.jpg" width="100%" height="100%"/>#}
{#        </div>#}

        <div id="wrapper">
{#            <label><input name="type" type="radio" value="infoSearch" id="infoSearch"/>详细信息查询</label>#}
{#            <label><input name="type" type="radio" value="filterSearch" id="filterSearch"/>关键词查询</label>#}
{#            <label><input name="type" type="radio" value="extendSearch" id="extendSearch"/>扩展词查询</label>#}
            <label><input name="type" type="radio" value="userInfoSearch" id="userInfoSearch"/>用户信息查询</label>
            <label><input name="type" type="radio" value="tweetInfoSearch" id="tweetInfoSearch"/>推文信息查询</label>
            <label><input name="type" type="radio" value="userFilterSearch" id="userFilterSearch"/>用户关键词查询</label>
            <label><input name="type" type="radio" value="tweetFilterSearch" id="tweetFilterSearch"/>推文关键词查询</label>
            <label><input name="type" type="radio" value="userExtendsSearch" id="userExtendsSearch"/>用户扩展词查询</label>
            <label><input name="type" type="radio" value="tweetExtendsSearch" id="tweetExtendsSearch"/>推文扩展词查询</label>
            <p><span style="display:inline-block;width:130px;text-align:right;">用户数据库:</span>
                <select id="selectUserDatabase" style="width: 248px;background-color: rgba(10, 17, 45, 0.11);">
                    <option selected>选择数据库</option>
                    {% for i in user %}
                    <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </p>
            <p><span style="display:inline-block;width:130px;text-align:right;">推文数据库:</span>
                <select id="selectTweetDatabase" style="width: 248px;background-color: rgba(10, 17, 45, 0.11);">
                    <option selected>选择数据库</option>
                    {% for i in tweet %}
                    <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </p>
            <p><span style="display:inline-block;width:130px;text-align:right;">用户屏显名:</span><input type="text" id="screenName"></p>
            <p><span style="display:inline-block;width:130px;text-align:right;">用户ID:</span><input type="text" id="accountId"></p>
            <p><span style="display:inline-block;width:130px;text-align:right;">推文ID:</span><input type="text" id="tweetId"></p>
            <p><span style="display:inline-block;width:130px;text-align:right;">关键过滤词:</span><input type="text" id="keywords"></p>
            <p><span style="display:inline-block;width:130px;text-align:right;">扩展关键词:</span><input type="text" id="extend"></p>
            <button type="button" id='dataCapture'>查询</button>
            <br>
            <br>
        <div class="block" style="height: 900px;background-color: rgba(10, 17, 45, 0.11);padding: 15px 15px;
            box-shadow: 0 0 14px #B1ABAB;margin: 10px 0;"><p><span id='result'></span></p></div>
{#            <textarea id='result' rows="3" cols="150"></textarea>#}
        <script src="/static/jquery_1.11.1.js"></script>
        <script>

            var totalViewNum = 5;

            $(document).ready(function() {

                $("#dataCapture").click(function () {
                    var type = null;
                    var selectTweetDatabase = $("#selectTweetDatabase").val();
                    var selectUserDatabase = $("#selectUserDatabase").val();
                    var screenName = $("#screenName").val();
                    var accountId = $("#accountId").val();
                    var tweetId = $("#tweetId").val();
                    var keywords = $("#keywords").val();
                    var extend = $("#extend").val();
                    var flag = 1;

                    var str = document.getElementsByName("type");
                    for (var i = 0 ; i < str.length ; i++){
                        if(str[i].checked == true) {
                          type = str[i].value;
                        }
                    }
                    if (type == null){
                        alert("请选择查询类型");
                        flag = 0;
                    }else{
                        if (type.search("tweet") != -1){
                            if (selectTweetDatabase == '选择数据库') {
                                flag = 0;
                                alert("请选择推文数据库");
                            }
                        }else{
                            if (selectUserDatabase == '选择数据库') {
                                flag = 0;
                                alert("请选择用户数据库");
                            }
                        }
                    }
                    if (type == 'userInfoSearch'){
                        if (screenName == '' && accountId == ''){
                            flag = 0;
                            alert("请填写用户屏显名或者用户ID");
                        }
                    }
                    if (type == 'tweetInfoSearch'){
                        if (tweetId == ''){
                            flag = 0;
                            alert("请填写推文ID");
                        }
                    }
                    if (type == 'userFilterSearch' || type == 'tweetFilterSearch'){
                        if (keywords == ''){
                            flag = 0;
                            alert("请填写关键过滤词");
                        }
                    }
                    if (type == 'userExtendsSearch' || type == 'tweetExtendsSearch'){
                        if (extend == ''){
                            flag = 0;
                            alert("请填写扩展查询词");
                        }
                    }

                    if (flag == 1){

                    }


                });
            });


        </script>
        </div>
    {% endblock %}