{% extends 'twitter/common.html' %}
{% load static %}
    {% block title %}Twitter用户详细信息采集{% endblock %}
    {% block link %}
    {% endblock %}

    {% block body %}

{#        <div id="Layer1" style="position:absolute; left:0; top:0; width:100%; height:100%">#}
{#        <img src="/static/twitter/twitter_background.jpg" width="100%" height="100%"/>#}
{#        </div>#}

        <div id="wrapper">
{#            <label><input name="type" type="radio" value="infoSearch" id="infoSearch"/>详细信息查询</label>#}
{#            <label><input name="type" type="radio" value="filterSearch" id="filterSearch"/>关键词查询</label>#}
{#            <label><input name="type" type="radio" value="extendSearch" id="extendSearch"/>扩展词查询</label>#}
            <label><input name="type" type="radio" value="userInfoSearch" id="userInfoSearch"/>用户信息查询</label>
            <label><input name="type" type="radio" value="tweetInfoSearch" id="tweetInfoSearch"/>推文信息查询</label>
            <label><input name="type" type="radio" value="userFilterSearch" id="userFilterSearch"/>用户关键词查询</label>
            <label><input name="type" type="radio" value="tweetFilterSearch" id="tweetFilterSearch"/>推文关键词查询</label>
            <label><input name="type" type="radio" value="userExtendsSearch" id="userExtendsSearch"/>用户扩展词查询</label>
            <label><input name="type" type="radio" value="tweetExtendsSearch" id="tweetExtendsSearch"/>推文扩展词查询</label>
            <p><span style="display:inline-block;width:130px;text-align:right;">用户数据库:</span>
                <select id="selectUserDatabase" style="width: 248px;background-color: rgba(10, 17, 45, 0.11);">
                    <option selected>选择数据库</option>
                    {% for i in user %}
                    <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </p>
            <p><span style="display:inline-block;width:130px;text-align:right;">推文数据库:</span>
                <select id="selectTweetDatabase" style="width: 248px;background-color: rgba(10, 17, 45, 0.11);">
                    <option selected>选择数据库</option>
                    {% for i in tweet %}
                    <option value={{ i }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </p>
            <p><span style="display:inline-block;width:130px;text-align:right;">用户屏显名:</span><input type="text" id="screenName"></p>
            <p><span style="display:inline-block;width:130px;text-align:right;">用户ID:</span><input type="text" id="accountId"></p>
            <p><span style="display:inline-block;width:130px;text-align:right;">推文ID:</span><input type="text" id="tweetId"></p>
            <p><span style="display:inline-block;width:130px;text-align:right;">关键过滤词:</span><input type="text" id="keywords"></p>
            <p><span style="display:inline-block;width:130px;text-align:right;">扩展关键词:</span><input type="text" id="extend"></p>
            <button type="button" id='dataCapture'>查询</button>
            <br>
            <br>
        <div class="block" style="height: 1200px;background-color: rgba(10, 17, 45, 0.11);padding: 15px 15px;
            box-shadow: 0 0 14px #B1ABAB;margin: 10px 0;float: left;width: 49%;margin-right: 20px;">
            <div id="22" style="margin: 10px 0;width: 40%;height: 200px"><img id="profileImage" src="{% static "twitter/default_profile.png" %}" width="100%" height="100%"/></div>
            <div id="resultUser"></div>
        </div>
        <div id="resultTweet" style="height: 1200px;background-color: rgba(10, 17, 45, 0.11);padding: 15px 15px;
            box-shadow: 0 0 14px #B1ABAB;margin: 10px 0;float: left;width: 49%;">
{#            <div id="22" style="margin: 10px 0;width: 20%;height: 200px"><img id="profileImage" src="" width="100%" height="100%"/></div>#}
        </div>
{#            <textarea id='result' rows="3" cols="150"></textarea>#}
        <script>
            var storageUserInfo = null;

            $(document).ready(function() {

                $("#dataCapture").click(function () {
                    var type = null;
                    var selectTweetDatabase = $("#selectTweetDatabase").val();
                    var selectUserDatabase = $("#selectUserDatabase").val();
                    var screenName = $("#screenName").val();
                    var accountId = $("#accountId").val();
                    var tweetId = $("#tweetId").val();
                    var keywords = $("#keywords").val();
                    var extend = $("#extend").val();
                    var flag = 1;

                    var str = document.getElementsByName("type");
                    for (var i = 0 ; i < str.length ; i++){
                        if(str[i].checked == true) {
                          type = str[i].value;
                        }
                    }
                    if (type == null){
                        alert("请选择查询类型");
                        flag = 0;
                    }else{
                        if (type.search("tweet") != -1){
                            if (selectTweetDatabase == '选择数据库') {
                                flag = 0;
                                alert("请选择推文数据库");
                            }
                        }else{
                            if (selectUserDatabase == '选择数据库') {
                                flag = 0;
                                alert("请选择用户数据库");
                            }
                        }
                    }
                    if (type == 'userInfoSearch'){
                        if (screenName == '' && accountId == ''){
                            flag = 0;
                            alert("请填写用户屏显名或者用户ID");
                        }
                    }
                    if (type == 'tweetInfoSearch'){
                        if (tweetId == ''){
                            flag = 0;
                            alert("请填写推文ID");
                        }
                    }
                    if (type == 'userFilterSearch' || type == 'tweetFilterSearch'){
                        if (keywords == ''){
                            flag = 0;
                            alert("请填写关键过滤词");
                        }
                    }
                    if (type == 'userExtendsSearch' || type == 'tweetExtendsSearch'){
                        if (extend == ''){
                            flag = 0;
                            alert("请填写扩展查询词");
                        }
                    }

                    if (flag == 1){
                        $.post("/twitter/infoGet/",{'selectTweetDatabase': selectTweetDatabase, 'type': type,
                            'selectUserDatabase':selectUserDatabase,'extend':extend,'screenName':screenName,
                            'tweetId':tweetId,'accountId':accountId, 'keywords': keywords}, function(data) {
                            var dataContent = "";
                            if (type == 'userInfoSearch'){
                                dataContent = "";
                                data = data[0];
                                storageUserInfo = data;
                                $("#profileImage").attr("src",data['profile_image_url_https']);
                                dataContent = dataContent + "用户屏显名：" + data['screen_name'] + '<br>';
                                dataContent = dataContent + "用户ID：" + data['id'] + '<br>';
                                dataContent = dataContent + "是否存活：" + data['alive'] + '<br>';
                                dataContent = dataContent + "粉丝数量：" + data['followers_count'] + '<br>';
                                dataContent = dataContent + "朋友数量：" + data['friends_count'] + '<br>';
                                dataContent = dataContent + "发推数量：" + data['statuses_count'] + '<br>';
                                dataContent = dataContent + "自我描述：" + data['description'] + '<br>';
                                dataContent = dataContent + "用户昵称：" + data['name'] + '<br>';
                                dataContent = dataContent + "创建时间：" + data['created_at'] + '<br>';
                                dataContent = dataContent + "使用的时区：" + data['time_zone'] + '<br>';
                                dataContent = dataContent + "所在地：" + data['location'] + '<br>';
                                dataContent = dataContent + "使用的语言：" + data['lang'] + '<br>';
                                dataContent = dataContent + "点赞推文的数量：" + data['favourites_count'] + '<br>';
                                dataContent = dataContent + "个人信息链接：" + data['url'] + '<br>';
                                dataContent = dataContent + "<button type='button' id='lookup' onclick='show()'>查看最新发布的推文</button>";
                                $('#resultUser').html(dataContent);
                            }

                            if (type == 'tweetInfoSearch'){
                                dataContent = "";
                                data = data[0];
{#                                $("#profileImage").attr("src",data['profile_image_url_https']);#}
                                dataContent = dataContent + "推文ID：" + data['id'] + '<br>';
                                dataContent = dataContent + "推文内容：" + data['text'] + '<br>';
                                dataContent = dataContent + "推文是否为引用推文：" + data['is_quote_status'] + '<br>';
                                dataContent = dataContent + "推文被点赞的次数：" + data['favorite_count'] + '<br>';
                                dataContent = dataContent + "引用推文的ID：" + data['quoted_status_id'] + '<br>';
                                dataContent = dataContent + "发布本推文的客户端：" + data['source'] + '<br>';
                                dataContent = dataContent + "回复推文的屏显名：" + data['in_reply_to_screen_name'] + '<br>';
                                dataContent = dataContent + "回复推文的ID：" + data['in_reply_to_status_id'] + '<br>';
                                dataContent = dataContent + "回复推文的用户ID：" + data['in_reply_to_user_id'] + '<br>';
                                dataContent = dataContent + "推文相关地点：" + data['place'] + '<br>';
                                dataContent = dataContent + "推文创建的时间：" + data['created_at'] + '<br>';
                                $('#resultTweet').html(dataContent);
                            }

                            if (type == 'userFilterSearch'){
                                dataContent = "";
                                for (i = 0 ; i < data.length ; i++){
                                    dataContent = dataContent + "推特用户ID：" + data[i]['id'] + '<br>';
                                    dataContent = dataContent + "推特用户屏显名：" + data[i]['screen_name'] + '<br>';
                                    dataContent = dataContent + "推特用户创建时间：" + data[i]['created_at'] + '<br>';
                                    dataContent = dataContent + "推特用户描述：" + data[i]['description'] + '<br>';
                                    dataContent = dataContent + '<br><br>'
                                }
                            }

                            if (type == 'tweetFilterSearch'){
                                dataContent = "";
                                for (var i = 0 ; i < data.length ; i++){
                                    dataContent = dataContent + "推文ID：" + data[i]['id'] + '<br>';
                                    dataContent = dataContent + "推文创建时间：" + data[i]['created_at'] + '<br>';
                                    dataContent = dataContent + "推文用户ID：" + data[i]['user']['id'] + '<br>';
                                    dataContent = dataContent + "推文用户屏显名：" + data[i]['user']['screen_name'] + '<br>';
                                    dataContent = dataContent + "推文内容：" + data[i]['text'] + '<br>';
                                    dataContent = dataContent + '<br><br>'
                                }
                            }



{#                            for (var i = 0; i < data.length; i++) {#}
{#                                dataContent = "";#}
{#                                dataContent = dataContent + '用户屏显名：' + data[i]['screen_name'] + '<br>';#}
{#                                dataContent = dataContent + '用户自我描述：' + data[i]['description'] + '<br>';#}
{#                                dataContent = dataContent + '用户创建时间：' + data[i]['created_at'] + '<br>';#}
{#                                dataContent = dataContent + '用户发推数量：' + data[i]['statuses_count'] + '<br>';#}
{#                                dataContent = dataContent + '<br><br><br>';#}
{#                                dataList.push(dataContent);#}
{#                            }#}
                        });
                    }


                });
            });

            function show(){
                dataContent = "";
                data = storageUserInfo['status'];
{#              $("#profileImage").attr("src",data['profile_image_url_https']);#}
                dataContent = dataContent + "推文ID：" + data['id'] + '<br>';
                dataContent = dataContent + "推文内容：" + data['text'] + '<br>';
                dataContent = dataContent + "推文是否为引用推文：" + data['is_quote_status'] + '<br>';
                dataContent = dataContent + "推文被点赞的次数：" + data['favorite_count'] + '<br>';
                dataContent = dataContent + "引用推文的ID：" + data['quoted_status_id'] + '<br>';
                dataContent = dataContent + "发布本推文的客户端：" + data['source'] + '<br>';
                dataContent = dataContent + "回复推文的屏显名：" + data['in_reply_to_screen_name'] + '<br>';
                dataContent = dataContent + "回复推文的ID：" + data['in_reply_to_status_id'] + '<br>';
                dataContent = dataContent + "回复推文的用户ID：" + data['in_reply_to_user_id'] + '<br>';
                dataContent = dataContent + "推文相关地点：" + data['place'] + '<br>';
                dataContent = dataContent + "推文创建的时间：" + data['created_at'] + '<br>';
                $('#resultTweet').html(dataContent);

            }

        </script>
        </div>
    {% endblock %}