{% extends 'adaptionCapture/common.html' %}
{% load static %}
    {% block title %}内容获取{% endblock %}

    {% block body %}
        <div class="container" style="background: wheat;margin-top: 10px;margin-bottom: 10px;">
        <form>
            <div class="form">
                <label for="url"><h4>链接地址（url）:</h4></label>
                <input type="url" class="form-control" id="url" placeholder="Enter url">
            </div>
            <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"><button aria-label="center" type="button" class="btn btn-primary" style=";margin-top: 20px;margin-bottom: 5px;" id="getHtml">访问网页</button></div>
            </div>
        </form>
        <div class="container">
            <div id="urlResult"></div>
        </div>
        </div>
        <div class="container"><p style="background: #000; height: 1px;margin-top: 20px"></p></div>
        <div class="container" style="background : wheat ;margin-top: 20px;">
            <div id="labelList">
            </div>
            <div id="labelContentList">
            </div>
            <a style="margin-top: 10px;margin-bottom: 10px;" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                添加标签
            </a>

        <div class="collapse" id="collapseExample" style="margin-top: 20px;">
            <fieldset class="form-group">
                <label ><h4>标签名</h4></label>
                <input type="text" class="form-control" id="labelName" placeholder="标签名">
            </fieldset>
            <fieldset class="form-group">
                <label ><h4>标签内容</h4></label>
                <textarea class="form-control" id="labelContent" rows="3"></textarea>
            </fieldset>
            <button type="button" class="btn btn-primary" id="getMaybeContent">获取可能的数据</button>
            <p style="background: #000; height: 1px;margin-top: 10px"></p>
            <div class="row">
                <div class="col" style="background-color:green;">
                    <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    选择按钮1
                    </label>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="radios1Content" rows="9"></textarea>
                    </fieldset>
                </div>
                <div class="col" style="background-color:orange;"><label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                     选择按钮2
                     </label>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="radios2Content" rows="9"></textarea>
                    </fieldset></div>
                <div class="col" style="background-color:lavender;">
                    <label>
                     <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                    选择按钮3
                  </label>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="radios3Content" rows="9"></textarea>
                    </fieldset></div>
                <div id="extend"></div>
            </div>
            <div style="margin-top: 20px;">
                <h4>标签类型</h4>
                <label>
                        <input type="radio" name="type" id="typeText" value="text" checked>
                         文本
                </label>
                <label>
                        <input type="radio" name="type" id="typeImage" value="image">
                         图片
                </label>
            </div>
            <div style="margin-top: 10px;"><button type="button" class="btn btn-primary" id="generateLabel">生成标签</button></div>
        </div>
        </div>
        <div class="container"><p style="background: #000; height: 1px;margin-top: 20px"></p></div>
        <div class="container" style="background: wheat;padding-top: 10px;margin-bottom: 20px;padding-bottom: 10px;">
            <div class="row">
                <div class="col-md-2"><h5><label style="">链接数据库 :</label></h5></div>
               <div class="col-md-8">
{#                <select id="selectUserDatabase" style="width: 100%;background-color: rgba(10, 17, 45, 0.11);">#}
{#                    <option selected>选择数据库</option>#}
{#                    {% for i in user %}#}
{#                    <option value={{ i }}>{{ i }}</option>#}
{#                    {% endfor %}#}
{#                    </select>#}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><h5><label style="">内容数据库 :</label></h5></div>
                <div class="col-md-8">
{#                <select id="selectUserDatabase" style="width: 100%;background-color: rgba(10, 17, 45, 0.11);">#}
{#                    <option selected>选择数据库</option>#}
{#                    {% for i in user %}#}
{#                    <option value={{ i }}>{{ i }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <button type="button" class="btn btn-primary" id="overCapture">结束采集</button>
                </div>
                <div class="col-md-6">
                <button type="button" class="btn btn-primary" id="startCapture">开始采集</button>
                </div>
            </div>
        </div>

        <script>
            var contentList = [];
            var recordContentList = 1;
            var labelList = [];
            var labelContentList = [];

            $(document).ready(function() {
                $("#getHtml").click(function () {
                    $('#urlResult').html('');
                    var url = $("#url").val();
                    if (url == ''){
                        alert("请填写网页链接地址");
                    }
                    else {
                        $.get("/adaptionCapture/getHtml/", {
                            'url': url
                        }, function(ret){
                            if (ret['level'] == 'normal'){
                                var htmlStr = "<a href='/adaptionCapture/getTemplate/'>查看获取数据的网页</a>";
                                $('#urlResult').html(htmlStr);
                            }else{
                                $('#urlResult').html("获取网页失败")
                            }
                        }
                    )
                    }
                });

                 $("#getMaybeContent").click(function () {
                     $('#extend').html('');
                    var labelName = $("#labelName").val();
                    var labelContent = $("#labelContent").val();
                    if (labelName == ''){
                        alert("请填写标签名");
                    }
                    else {
                        $.post("/adaptionCapture/getMaybeContent/", {
                            'name': labelName, 'content' : labelContent
                        }, function(ret){
                            if (ret['level'] == 'normal'){
                                contentList = ret['content'];
                                var _contentList = contentList[0];
                                for (var i = 0 ; i < _contentList.length ; i++){
                                    if (i == 0){
                                        $('#radios1Content').html(_contentList[0]['content']);
                                    }
                                    if (i == 1){
                                        $('#radios2Content').html(_contentList[1]['content']);
                                    }
                                    if (i == 2){
                                        $('#radios3Content').html(_contentList[2]['content']);
                                    }
                                }
                                if (contentList.length > 1){
                                    recordContentList = 1;
                                    $('#extend').html("<button type='button' class='btn btn-primary' onclick='extendShow()' style='margin: auto'>其它</button>")
                                }
                            }else{
                                $('#radios1Content').html("匹配失败");
                                $('#radios2Content').html("匹配失败");
                                $('#radios3Content').html("匹配失败");
                            }
                        }
                    )
                    }
                 });

                 $("#generateLabel").click(function () {

                     var str = document.getElementsByName("optionsRadios");
                     var typeList = document.getElementsByName("type");
                     var data = null;
                     var type = null;
                     var _contentList = [];
                     if (contentList != []){
                         _contentList = contentList[recordContentList - 1];
                        for (var i = 0 ; i < str.length ; i++){
                             if(str[i].checked == true){
                                 if (_contentList.length > i){
                                     data = _contentList[i];
                                 }
                             }
                        }
                        var count = 0;
                        for (i = 0 ; i < typeList.length ; i++){
                             if(typeList[i].checked == true){
                                 count = i;
                                 break;
                             }
                        }
                        if (count == 0){
                            type = 'text';
                        }
                        if (count == 1){
                            type = 'image';
                        }
                     }
                     if (data == null || data == "匹配失败"){
                         alert("请选择有数据的按钮")
                     }
                     else{
                         var labelName = $("#labelName").val();
                         var labelContent = data['content'];
                         var labelImageUrlList = data['imageUrlList'];
                         $.post("/adaptionCapture/generateLabel/", {
                            'num': data['num'], 'name' : labelName, 'type' :type
                         }, function(ret){
                            if (ret['level'] == 'normal'){
                                labelList.push(labelName);
                                labelContentList.push(labelContent);

                                var labelStr = "";
                                var labelContentStr = "";
                                for (var i = 0 ; i < labelList.length ; i++){
                                    labelStr = labelStr + "<a class='btn btn-primary' data-toggle='collapse' href='#collapseLabel" + i.toString() + "' aria-expanded='false' aria-controls='collapseExample' style='margin-top: 5px;margin-right:5px;'>" + labelList[i] + "</a>";
                                    if (type == 'text'){
                                        labelContentStr = labelContentStr +  "<div class='container collapse' id='collapseLabel" + i.toString() + "' style='margin-top: 20px;'>" + labelContentList[i] + "</div>";
                                    }
                                    if (type == 'image'){
                                        labelContentStr = labelContentStr +  "<img class='container collapse rounded' id='collapseLabel" + i.toString() +  "' src='" + labelImageUrlList[0] + "' style='margin-top: 20px;'>";
                                    }
                                }
                                $('#labelList').html(labelStr);
                                $('#labelContentList').html(labelContentStr);
                            }else{
                                alert('添加标签失败');
                            }
                        }
                    )
                    }
                });

                 $("#startCapture").click(function () {
                    var url = $("#labelName").val();
                    if (url == ''){
                        alert("请填写网页链接地址");
                    }
                    else {
                        $.get("/adaptionCapture/getHtml/", {
                            'url': url
                        }, function(ret){
                            if (ret['level'] == 'normal'){
                                var htmlStr = "<a href='/adaptionCapture/getTemplate/'>查看获取数据的网页</a>";
                                $('#urlResult').html(htmlStr);
                            }else{
                                $('#urlResult').html("获取网页失败")
                            }
                        }
                    )
                    }
                });


            });
            function extendShow() {
                 var _contentList = contentList[recordContentList];
                 for (var i = 0 ; i < _contentList.length ; i++){
                    if (i == 0){
                        $('#radios1Content').html(_contentList[0]['content']);
                    }
                    if (i == 1){
                        $('#radios2Content').html(_contentList[1]['content']);
                    }
                    if (i == 2){
                        $('#radios3Content').html(_contentList[2]['content']);
                    }
                 }
                 recordContentList = recordContentList + 1;
                 if (recordContentList == contentList.length){
                     $('#extend').html('');
                 }
            }
        </script>
    {% endblock %}