body {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
}
div#wrapper{
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
div.user,div.tweet{
    margin: 0 auto;
    font-size: 32px;
    position: relative;
    height: 400px;
    width: 80%;
    line-height: 123px;
}

div.near{
    font-size: 19px;
    position: relative;
    float: left;
    margin: 0 auto;
    /* height: 30%; */
    width: 30%;
}