div#navigator{height: 70px}
a{
    color: black;
}
#navList li{
    text-align: center;
    font-size: 20px;
    float: left;
    width: 10%;
    height: 70px;
    margin-right: 4px;
    display: inline;
    background-color: #ced4da;
}